@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.blogsContainer{
    padding: 0px 80px;
    
}

.blogs{
    margin-top: -50px;
}

.image{
    height: 200px;
    padding: 10px;
}

.blogs h1, .blogs p, .blogs h2{
    font-family: 'Open Sans', sans-serif;
}

.blogs p{
    font-weight: 400;
}

.blogs h1{
    text-align: center;
    font-weight: 100;
    text-decoration: underline;
}

.blogs .blogsTiles{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blogs .blogsTiles .tiles{
    background-color: #ffffff;
    padding: 10px;
    color: #000000;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    transition: 0.1s ease-in;
    cursor: pointer;
    box-shadow: 0px 0px 5px gainsboro;

}

.blogs .blogsTiles .tiles:hover{
    transform: scale(1.02);
}


.blogs .blogsTiles .tiles .heading h2{
    margin-bottom: 20px;

}

.blogs img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 800px) {

    .blogsContainer{
        padding: 0px 30px;
    }
    

    .blogs h1{
        margin-bottom: 20px;
    }

    .blogs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -30px;
    }
    .blogsTiles {
        flex-direction: column;
    }
    .blogs .blogsTiles .tiles{
        width: 100%;
        height: 100%;
        padding: 20px;
    }
}