.kyc form{
    width: 50vw;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.kyc .heading{
    text-align: center;
    margin-top: 50px;
}

.kyc legend{
    background-color: #0051ff;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

.kyc fieldset{
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    background-color: aliceblue;
    color: black;
}

.kyc form p{
    margin: 10px 0px;
}

.kyc #gender {
	padding: 10px;
}

.kyc input, select, form button{
    margin: 0px 20px 20px 0px;
    width: 200px;
}

.kyc #long{
    width: 100%;
}

.kyc .submit{
    text-align: center;
}

.kyc form button{
    padding: 10px;
    background-color: #0051ff;
    color: white;
    border: none;
    border-radius:  10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in;
  }

  .kyc form button:hover{
      transform: scale(1.10);
  }
  
.identityModal{
    color: #000000;
    background-color: #800080;
}

.identityModal .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.identityModal .close{
    color: red;
    cursor: pointer;
}


.identityModal p {
    margin-top: 10px;
}

.identityModal input{
    margin-bottom: 10px;
    width: 100%;
}

.kyc .conditions{
    display: flex;
 
    align-items: center; 
    margin-bottom: 20px;
}

.kyc .conditions input{
    width: 20px;
    margin: 0px;
}

.kyc .conditions p{
    font-size: 12px;
    color: #800080;
}

.identityModal button{
    padding: 10px;
    background-color: #0051ff;
    color: white;
    border: none;
    border-radius:  10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s ease-in;
    margin-top: 10px;
    margin-bottom: 0px;
}

.identityModal button:hover{
    transform: scale(1.10);
}

.identityModal .buttonDiv{
    text-align: center;
}